[Unit]
Description=CloudFlare DDNS Refresher Script
Requires=network-online.target
After=netword-online.target

[Service]
ExecStart=/usr/share/bin/ddnsd

[Install]
WantedBy=multi-user.target
